{% if settings.banner_mini_1|length > 0 and settings.banner_mini_2|length > 0 %}

{% if not settings.banner_mini_produto_1 and not settings.banner_mini_2 %}
    {% set bannerssemprodutos = true %}
{% endif %}

    {% if settings.banner_mini_produto_1|length == 0 and settings.banner_mini_produto_2|length == 0 %}

        <div class="vitrine-banners vitrine-mini-banners pt-2">

            <div class="container {% if bannerssemprodutos %}container-mini-banners{% endif %}">
                <div class="banners-grid {% if not bannerssemprodutos %}banners-grid-2{% endif %} banners-mini flex justify-between">
                    <div class="item box-banners">
                        {% if settings.banner_mini_1 %}
                            {% if settings.banner_mini_1_link|length > 0 %}
                                <a href="{{ settings.banner_mini_1_link }}">
                            {% endif %}
                            <img src="{{ asset(settings.banner_mini_1) }}" class="lazyload" alt="Banner Mini 1">
                            {% if settings.banner_mini_1_link|length > 0 %}
                                </a>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="item box-banners">
                        {% if settings.banner_mini_2 %}
                            {% if settings.banner_mini_2_link|length > 0 %}
                                <a href="{{ settings.banner_mini_2_link }}">
                            {% endif %}
                            <img src="{{ asset(settings.banner_mini_2) }}" class="lazyload" alt="Banner Mini 2">
                            {% if settings.banner_mini_2_link|length > 0 %}
                                </a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>

    {% else %}

        <div class="vitrine-banners vitrine-mini-banners pt-2">

            <div class="container {% if bannerssemprodutos %}container-mini-banners{% endif %}">
                <div class="banners-grid {% if not bannerssemprodutos %}banners-grid-2{% endif %} banners-mini flex justify-between">
                    <div class="item box-banners">
                        {% if settings.banner_mini_1 %}
                            {% if settings.banner_mini_1_link|length > 0 %}
                                <a href="{{ settings.banner_mini_1_link }}">
                            {% endif %}
                            <img src="{{ asset(settings.banner_mini_1) }}" class="lazyload" alt="Banner Mini 1">
                            {% if settings.banner_mini_1_link|length > 0 %}
                                </a>
                            {% endif %}
                        {% endif %}
                    </div>

                    {% if settings.banner_mini_produto_1 %}
                    <div class="item box-banners">
                        {% set perfil_produtos_div = settings.banner_mini_produto_1|split(',') %}
                        {% if perfil_produtos_div|length > 1 %}
    
                            <div class="produto-perfil-ajax mini-banner-produto-1 swiper p-1" data-produto="{{ settings.banner_mini_produto_1 }}" data-div=".mini-banner-produto-1">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        {% for produto_div in perfil_produtos_div %}
                                            <div class="swiper-slide">
                                                <div class="box-produto-perfil-{{ produto_div }}"></div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <!-- If we need navigation buttons -->
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>
                                    <div class="dots">
                                        {% for produto_div in perfil_produtos_div %}
                                            {% set class_dot = (loop.index == 0) ? 'dot-active' : '' %}
                                            <div class="dot {{ class_dot }}"></div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
    
                        {% else %}
                            <div class="produto-perfil-ajax mini-banner-produto-1 p-1" data-produto="{{ settings.banner_mini_produto_1 }}" data-div=".mini-banner-produto-1">
                                {% for produto_div in perfil_produtos_div %}
                                    <div class="box-produto-perfil-{{ produto_div }}"></div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
                <div class="banners-grid banners-grid-2 banners-mini flex justify-between">
                    <div class="item box-banners">
                        {% if settings.banner_mini_2 %}
                            {% if settings.banner_mini_2_link|length > 0 %}
                                <a href="{{ settings.banner_mini_2_link }}">
                            {% endif %}
                            <img src="{{ asset(settings.banner_mini_2) }}" class="lazyload" alt="Banner Mini 2">
                            {% if settings.banner_mini_2_link|length > 0 %}
                                </a>
                            {% endif %}
                        {% endif %}
                    </div>
                    {% if settings.banner_mini_produto_2 %}
                    <div class="item box-banners">
                        {% set perfil_produtos_div = settings.banner_mini_produto_2|split(',') %}
                        {% if perfil_produtos_div|length > 1 %}
    
                            <div class="produto-perfil-ajax mini-banner-produto-2 swiper p-1" data-produto="{{ settings.banner_mini_produto_2 }}" data-div=".mini-banner-produto-2">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        {% for produto_div in perfil_produtos_div %}
                                            <div class="swiper-slide">
                                                <div class="box-produto-perfil-{{ produto_div }}"></div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <!-- If we need navigation buttons -->
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>
                                    <div class="dots">
                                        {% for produto_div in perfil_produtos_div %}
                                            {% set class_dot = (loop.index == 0) ? 'dot-active' : '' %}
                                            <div class="dot {{ class_dot }}"></div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
    
                        {% else %}
                            <div class="produto-perfil-ajax mini-banner-produto-2 p-1" data-produto="{{ settings.banner_mini_produto_2 }}" data-div=".mini-banner-produto-2">
                                {% for produto_div in perfil_produtos_div %}
                                    <div class="box-produto-perfil-{{ produto_div }}"></div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>

        </div>

    {% endif %}

{% endif %}