<div class="section section-marcas">

    <div class="container">
        <div class="section-header">
            <h2 class="title-section">
                {% if settings.marca_titulo|length > 0 %}
                    {{ settings.marca_titulo }}
                {% else %}
                    Nossas Marcas
                {% endif %}
            </h2>
        </div>
    </div>
    
    <div class="container marcas-content swiper">

        <div class="swiper-container">

            <div class="swiper-wrapper">

                {% if settings.marca_imagem_1|length > 0 %}
                    <div class="swiper-slide">
                        {% if settings.marca_link_1|length > 0 %}
                            <a href="{{ settings.marca_link_1 }}">
                        {% endif %}
                        <img loading="lazy" src="{{ asset(settings.marca_imagem_1) }}" alt="Nossas Marcas">
                        {% if settings.marca_link_1|length > 0 %}
                            </a>
                        {% endif %}
                    </div>
                {% endif %}

                {% if settings.marca_imagem_2|length > 0 %}
                    <div class="swiper-slide">
                        {% if settings.marca_link_2|length > 0 %}
                            <a href="{{ settings.marca_link_2 }}">
                        {% endif %}
                        <img loading="lazy" src="{{ asset(settings.marca_imagem_2) }}" alt="Nossas Marcas">
                        {% if settings.marca_link_2|length > 0 %}
                            </a>
                        {% endif %}
                    </div>
                {% endif %}

                {% if settings.marca_imagem_3|length > 0 %}
                    <div class="swiper-slide">
                        {% if settings.marca_link_3|length > 0 %}
                            <a href="{{ settings.marca_link_3 }}">
                        {% endif %}
                        <img loading="lazy" src="{{ asset(settings.marca_imagem_3) }}" alt="Nossas Marcas">
                        {% if settings.marca_link_3|length > 0 %}
                            </a>
                        {% endif %}
                    </div>
                {% endif %}

                {% if settings.marca_imagem_4|length > 0 %}
                    <div class="swiper-slide">
                        {% if settings.marca_link_4|length > 0 %}
                            <a href="{{ settings.marca_link_4 }}">
                        {% endif %}
                        <img loading="lazy" src="{{ asset(settings.marca_imagem_4) }}" alt="Nossas Marcas">
                        {% if settings.marca_link_4|length > 0 %}
                            </a>
                        {% endif %}
                    </div>
                {% endif %}

                {% if settings.marca_imagem_5|length > 0 %}
                    <div class="swiper-slide">
                        {% if settings.marca_link_5|length > 0 %}
                            <a href="{{ settings.marca_link_5 }}">
                        {% endif %}
                        <img loading="lazy" src="{{ asset(settings.marca_imagem_5) }}" alt="Nossas Marcas">
                        {% if settings.marca_link_5|length > 0 %}
                            </a>
                        {% endif %}
                    </div>
                {% endif %}

                {% if settings.marca_imagem_6|length > 0 %}
                    <div class="swiper-slide">
                        {% if settings.marca_link_6|length > 0 %}
                            <a href="{{ settings.marca_link_6 }}">
                        {% endif %}
                        <img loading="lazy" src="{{ asset(settings.marca_imagem_6) }}" alt="Nossas Marcas">
                        {% if settings.marca_link_6|length > 0 %}
                            </a>
                        {% endif %}
                    </div>
                {% endif %}

                {% if settings.marca_imagem_7|length > 0 %}
                    <div class="swiper-slide">
                        {% if settings.marca_link_7|length > 0 %}
                            <a href="{{ settings.marca_link_7 }}">
                        {% endif %}
                        <img loading="lazy" src="{{ asset(settings.marca_imagem_7) }}" alt="Nossas Marcas">
                        {% if settings.marca_link_7|length > 0 %}
                            </a>
                        {% endif %}
                    </div>
                {% endif %}

                {% if settings.marca_imagem_8|length > 0 %}
                    <div class="swiper-slide">
                        {% if settings.marca_link_8|length > 0 %}
                            <a href="{{ settings.marca_link_8 }}">
                        {% endif %}
                        <img loading="lazy" src="{{ asset(settings.marca_imagem_8) }}" alt="Nossas Marcas">
                        {% if settings.marca_link_8|length > 0 %}
                            </a>
                        {% endif %}
                    </div>
                {% endif %}

                {% if settings.marca_imagem_9|length > 0 %}
                    <div class="swiper-slide">
                        {% if settings.marca_link_9|length > 0 %}
                            <a href="{{ settings.marca_link_9 }}">
                        {% endif %}
                        <img loading="lazy" src="{{ asset(settings.marca_imagem_9) }}" alt="Nossas Marcas">
                        {% if settings.marca_link_9|length > 0 %}
                            </a>
                        {% endif %}
                    </div>
                {% endif %}

                {% if settings.marca_imagem_10|length > 0 %}
                    <div class="swiper-slide">
                        {% if settings.marca_link_10|length > 0 %}
                            <a href="{{ settings.marca_link_10 }}">
                        {% endif %}
                        <img loading="lazy" src="{{ asset(settings.marca_imagem_10) }}" alt="Nossas Marcas">
                        {% if settings.marca_link_10|length > 0 %}
                            </a>
                        {% endif %}
                    </div>
                {% endif %}

                {% if settings.marca_imagem_11|length > 0 %}
                    <div class="swiper-slide">
                        {% if settings.marca_link_11|length > 0 %}
                            <a href="{{ settings.marca_link_11 }}">
                        {% endif %}
                        <img loading="lazy" src="{{ asset(settings.marca_imagem_11) }}" alt="Nossas Marcas">
                        {% if settings.marca_link_11|length > 0 %}
                            </a>
                        {% endif %}
                    </div>
                {% endif %}

                {% if settings.marca_imagem_12|length > 0 %}
                    <div class="swiper-slide">
                        {% if settings.marca_link_12|length > 0 %}
                            <a href="{{ settings.marca_link_12 }}">
                        {% endif %}
                        <img loading="lazy" src="{{ asset(settings.marca_imagem_12) }}" alt="Nossas Marcas">
                        {% if settings.marca_link_12|length > 0 %}
                            </a>
                        {% endif %}
                    </div>
                {% endif %}

                {% if settings.marca_imagem_13|length > 0 %}
                    <div class="swiper-slide">
                        {% if settings.marca_link_13|length > 0 %}
                            <a href="{{ settings.marca_link_13 }}">
                        {% endif %}
                        <img loading="lazy" src="{{ asset(settings.marca_imagem_13) }}" alt="Nossas Marcas">
                        {% if settings.marca_link_13|length > 0 %}
                            </a>
                        {% endif %}
                    </div>
                {% endif %}

                {% if settings.marca_imagem_14|length > 0 %}
                    <div class="swiper-slide">
                        {% if settings.marca_link_14|length > 0 %}
                            <a href="{{ settings.marca_link_14 }}">
                        {% endif %}
                        <img loading="lazy" src="{{ asset(settings.marca_imagem_14) }}" alt="Nossas Marcas">
                        {% if settings.marca_link_14|length > 0 %}
                            </a>
                        {% endif %}
                    </div>
                {% endif %}

                {% if settings.marca_imagem_15|length > 0 %}
                    <div class="swiper-slide">
                        {% if settings.marca_link_15|length > 0 %}
                            <a href="{{ settings.marca_link_15 }}">
                        {% endif %}
                        <img loading="lazy" src="{{ asset(settings.marca_imagem_15) }}" alt="Nossas Marcas">
                        {% if settings.marca_link_15|length > 0 %}
                            </a>
                        {% endif %}
                    </div>
                {% endif %}

            </div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <div class="dots">
                
            </div>

        </div>

    </div>

</div>